.arrow-fyx-carrusel {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: fit-content;

  height: 100%;
  top: 50%;
  bottom: 0;

  transition: all 0.3s ease;

  opacity: 0.3;
  filter: grayscale(0.3);

  &:hover {
    opacity: 1;
    filter: unset;
  }
}
