.bright-hover-2 {
  transition: filter 0.2s;
  &:hover {
    filter: brightness(2);
  }
}

.bright-hover-1-5 {
  transition: filter 0.2s;
  &:hover {
    filter: brightness(1.5);
  }
}

.rotate-left{
  animation: rotate-left 12s infinite linear;
}

@keyframes rotate-left {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(-360deg);
  }
}
