.bright-hover-2 {
  transition: filter 0.2s;
  &:hover {
    filter: brightness(2);
  }
}

.bright-hover-1-5 {
  transition: filter 0.2s;
  &:hover {
    filter: brightness(1.5);
  }
}

.bright-10{
  filter: brightness(10);
}

.dyn-filter{
  --invert: 0;
  --hue-rotate: 0;
  filter: invert(var(--invert)) hue-rotate(var(--hue-rotate));
}

.hue-rotate180deg{
  --hue-rotate: 180deg;
}

.invert{
  --invert: 1;
}

.rotate-left{
  animation: rotate-left 12s infinite linear;
}

@keyframes rotate-left {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(-360deg);
  }
}
