// ---------------------------------------------
// Miscellaneous Utilities
// ---------------------------------------------
.no-select{
  user-select: none;
  pointer-events: none;
}

.transform-centerized {
  transform: translateX(-50%) translateY(-50%);
}

.minside-win {
  width: min(100vw, 100vh);
  height: min(100vw, 100vh);
}

.object-fit-contain {
  object-fit: contain;
}

.object-fit-cover {
  object-fit: cover;
}

.tw-balance {
  text-wrap: balance;
}

.ta-center{
  text-align: center;
}

.no-border-focus {
  &:focus {
    border: none !important;
    outline: none;
    box-shadow: none;
  }
}

.fit-content,.w-fit {
  width: fit-content;
}

.visibility-hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.h-full {
  min-height: 100vh;
}

.square {
  aspect-ratio: 1;
}

.circle {
  aspect-ratio: 1;
  border-radius: 50% !important;
}

.fw-bolder {
  font-weight: bolder;
}

.b-error {
  border: 1px solid red;
}

.p-absolute {
  position: absolute !important;
}

.p-relative {
  position: relative !important;
}

.p-fixed {
  position: fixed !important;
}

.z-index-1 {
  z-index: -1;
}

.z-index0 {
  z-index: 0;
}

.z-index1 {
  z-index: 1;
}

.z-index2 {
  z-index: 2;
}

.overflow-hidden {
  overflow: hidden;
}

@each $value
  in (
    normal,
    multiply,
    screen,
    overlay,
    darken,
    lighten,
    color-dodge,
    color-burn,
    hard-light,
    soft-light,
    difference,
    exclusion,
    hue,
    saturation,
    color,
    luminosity
  )
{
  .#{$value} {
    mix-blend-mode: $value;
  }
}

.mask-to-right {
  mask: linear-gradient(to right, transparent, black);
}

.sepia-red {
  filter: sepia(1) saturate(4) hue-rotate(-38deg);
}

.sepia-deeppink {
  filter: sepia(1) saturate(4) hue-rotate(-38deg) hue-rotate(328deg);
}

.top-0 {
  top: 0;
}
.top-50p {
  top: 50%;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.left-50p {
  left: 50%;
}

.h-max-side-window {
  height: max(100vw, 100vh);
}

.tY--100p {
  transform: translateY(-100%);
}

.square-1px {
  width: 1px;
  height: 1px;
}

.c-pointer {
  cursor: pointer;
}

.pointer-events-none {
  pointer-events: none;
}

.fullWidth {
  width: 100% !important;
}

.halfWidth {
  width: 50% !important;
}

.threeQuartersWidth{
  width: 75% !important;
}

.expand {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@each $color
  in (
    white,
    gray,
    black,
    skyblue,
    deepskyblue,
    dodgerblue,
    purple
    pink,
    deeppink,
    crimson,
    darkred,
    orange,
  )
{
  .bg-#{$color} {
    background-color: $color;
  }
  .c-#{$color} {
    color: $color;
  }
}

.bright-hover-2 {
  transition: filter 0.2s;
  &:hover {
    filter: brightness(2);
  }
}

.bright-hover-1-5 {
  transition: filter 0.2s;
  &:hover {
    filter: brightness(1.5);
  }
}

.bright-10{
  filter: brightness(10);
}

.dyn-filter{
  --invert: 0;
  --hue-rotate: 0;
  filter: invert(var(--invert)) hue-rotate(var(--hue-rotate));
}

.hue-rotate180deg{
  --hue-rotate: 180deg;
}

.invert{
  --invert: 1;
}

.rotate-left{
  animation: rotate-left 12s infinite linear;
}

@keyframes rotate-left {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(-360deg);
  }
}

.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}

.to-right-center {
  transform-origin: 100% center;
}

.tt-uppercase {
  text-transform: uppercase;
}
