// ---------------------------------------------
// 3. Spacing Utilities
// ---------------------------------------------
@for $i from 1 through 20 {
  $val: 5 * $i;
  $valpx: #{$val}px !important;

  .gap-#{$val}px {
    @extend .d-flex;
    gap: $valpx;
  }

  .pad-#{$val}px {
    padding: $valpx;
  }

  .padh-#{$val}px {
    padding-top: $valpx;
    padding-bottom: $valpx;
  }

  .padw-#{$val}px {
    padding-left: $valpx;
    padding-right: $valpx;
  }

  .padt-#{$val}px {
    padding-top: $valpx;
  }

  .padr-#{$val}px {
    padding-right: $valpx;
  }

  .padb-#{$val}px {
    padding-bottom: $valpx;
  }

  .padl-#{$val}px {
    padding-left: $valpx;
  }

  .m-#{$val}px {
    margin: $valpx;
  }

  .mh-#{$val}px {
    margin-top: $valpx;
    margin-bottom: $valpx;
  }

  .mw-#{$val}px {
    margin-left: $valpx;
    margin-right: $valpx;
  }

  .mt-#{$val}px {
    margin-top: $valpx;
  }

  .mr-#{$val}px {
    margin-right: $valpx;
  }

  .mb-#{$val}px {
    margin-bottom: $valpx;
  }

  .ml-#{$val}px {
    margin-left: $valpx;
  }
}
