// ---------------------------------------------
// 3. Spacing Utilities
// ---------------------------------------------
@for $i from 1 through 20 {
  $val: 5 * $i;
  $valpx: #{$val}px !important;

  .gap-#{$val}px {
    gap: $valpx;
  }

  .pad-#{$val}px {
    padding: $valpx;
  }

  .padh-#{$val}px {
    padding-top: $valpx;
    padding-bottom: $valpx;
  }

  .padw-#{$val}px {
    padding-left: $valpx;
    padding-right: $valpx;
  }

  .padt-#{$val}px {
    padding-top: $valpx;
  }

  .padr-#{$val}px {
    padding-right: $valpx;
  }

  .padb-#{$val}px {
    padding-bottom: $valpx;
  }

  .padl-#{$val}px {
    padding-left: $valpx;
  }

  .m-#{$val}px {
    margin: $valpx;
  }

  .mh-#{$val}px {
    margin-top: $valpx;
    margin-bottom: $valpx;
  }

  .mw-#{$val}px {
    margin-left: $valpx;
    margin-right: $valpx;
  }

  .mt-#{$val}px {
    margin-top: $valpx;
  }

  .mr-#{$val}px {
    margin-right: $valpx;
  }

  .mb-#{$val}px {
    margin-bottom: $valpx;
  }

  .ml-#{$val}px {
    margin-left: $valpx;
  }
}

.m0 {
  margin: 0;
}

.flex1 {
  flex: 1;
}

@for $i from 1 through 4 {
  .ncols-#{$i}{
    .cell{
      @extend .mdiv#{$i};
      flex: 1;
    }
  }
}

.div4 {
  width: calc(25% - 1%);
}

.div3 {
  width: calc(33% - 1%);
}

.div2 {
  width: calc(50% - 1%);
}

.div1 {
  width: calc(100% - 1%);
}

.mdiv4 {
  min-width: calc(25% - 1%);
}

.mdiv3 {
  min-width: calc(33% - 1%);
}

.mdiv2 {
  min-width: calc(50% - 1%);
}

.mdiv1 {
  min-width: calc(100% - 1%);
}


