#container-pricing {
  position: relative;

  .fix-left {
    position: sticky;
    left: 0;
    z-index: 0;
    background: var(--border-table);
  }

  .fix-top {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--border-table);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  }
}

#pricing {
  min-width: 100%;
  text-align: left;

  .nombre-plan {
    font-size: 130%;
    padding-bottom: 20px;
  }
  .precio-plan {
    font-size: 90%;
    padding-bottom: 15px;
  }

  & tr {
    td {
      border: 2px solid var(--border-table);
      &:not(:is(.no-pad)) {
        padding: 20px;
      }
    }
  }
}
