#container-pricing {
  position: relative;
  border: 1px solid var(--border-table);
  overflow: auto;
  text-align: center;
  position: relative;

  .fix-left {
    position: sticky;
    left: 0;
    z-index: 0;
    &.bg-primary{
      background: var(--border-table);
    }
  }

  .fix-top {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--border-table);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  }
}

#pricing {
  min-width: 100%;
  text-align: left;

  .nombre-plan {
    font-size: 130%;
    padding-bottom: 20px;
  }
  .precio-plan {
    font-size: 90%;
    padding-bottom: 15px;
  }
  .bordear{
    border: 3px solid var(--border-table); 
    &.no-right{
      border-right-color: transparent;
    }
  }

  & tr {
    td {
      &:not(:is(.no-bordear)){
        border: 1.5px solid var(--border-table);
      }
      &:not(:is(.no-pad)) {
        padding: 20px;
      }
    }
  }
}
