body {
 &:has(.panel.movements.light) {
   div.MuiPopper-root.MuiChartsTooltip-root[role="tooltip"] {
     filter: invert(1) hue-rotate(180deg) saturate(3);
   }
 }
 div.MuiPopper-root.MuiChartsTooltip-root[role="tooltip"] {
   &::after {
     content: "USDC";
     position: absolute;
     backdrop-filter: invert(0.1);
     background-color: rgba(30, 143, 255, 0.1);
     font-size: smaller;
     font-weight: bold;
     border-radius: 10px;
     padding: 5px;
     top: 3px;
     right: -5px;
     transform: translateX(-50%);
   }
 }
}

.panel.movements {
 &.light {
   .container-graph {
     background: linear-gradient(
       to bottom,
       rgba(0, 100, 255, 0.1),
       transparent
     );
   }
 }
 &.dark {
   .container-graph {
     background: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent);
   }
 }
}