.panel {
  &.movements {
    .container-graph {
      isolation: isolate;
      overflow: auto;
      touch-action: pan-x;
      user-select: none;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: thin;
      border: 1px solid rgba(128, 128, 128, 0.2);

      &:focus {
        border: 1px solid dodgerblue;
        &:active {
          border: 1px solid skyblue;
        }
      }
    }
  }
}
